<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">


    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/education.png" alt="Education" width="70" height="70"></p>
    <p align="center">Ph.D. in Information and Communications Technology at the <b>University of Malta</b> (2016 - 2020)</p>
    <p align="center">Bachelors Degree in Electrical and Electronics Engineering at the <b>University of Malta</b> (2012 - 2016) </p>
    <p align="center"></p> <br> <br>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center"> Junior Data Engineer <b>Gamesys Ltd.</b>, Malta (2020 - )</p>
    <p align="center"> Control and Instrumentation Engineer <b>CERN</b>, Geneva, Switzerland (2016 - 2019)</p>
    <p align="center"> Summer Intern at <b>CERN</b>, Geneva, Switzerland (Jun. 2015 - Sep. 2015)</p>
    <p align="center"> Intern at <b>STMicroelectronics</b>, Malta (Jun. 2013 - Sep. 2013)</p> <br> <br>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/award2.png" alt="Awards" width="70" height="70"></p>
    <p align="center"> <a href=https://en.wikipedia.org/wiki/Malta" class="author-social" target="_blank">BOV Engineering Excellence Award for undergraduate project</a>, <b>BOV Bank</b>, 2017</p>
    <p align="center"> Best Final Year Project (Electrical Engineering Stream), <b>Chamber of Engineers</b>, 2016</p>
    <p align="center"> Best Student in Mathematics and Physics, <b>Sir M.A. Refalo Upper Secondary</b>, 2012</p> <br> <br>

    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
